@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.scrollControl::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollControl::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  height: 5px;
}

.scrollControl::-webkit-scrollbar-thumb {
  background-color: rgb(129, 185, 223);
  border-radius: 10px;

}
